<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="#{title.application}"></title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Inventory System</div>
        <div class="panel-body">
            <p>Envanter sisteminde yer alan tüm elektronik cihazların kayıt bilgilerini ve cihazlar hakkında detaylı
                bilgiler sunabilen ekranlar ile desteklenmektedir.</p>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th><a href="#" th:href="@{/inventory/new}"><span
                        class="glyphicon glyphicon-plus"></span></a></th>
                <th>#</th>
                <th>#</th>
                <th th:text="#{inventory.field.model}"></th>
                <th th:text="#{inventory.field.trademarks}"></th>
                <th th:text="#{inventory.field.department}"></th>
                <th th:text="#{inventory.field.inventoryTypes}"></th>
                <th th:text="#{inventory.field.feature}"></th>
            </tr>
            </thead>
            <tbody class="table table-bordered table-striped">
            <tr th:each="itm : ${inventoryList}">
                <td>
                    <a href="#" th:href="@{/inventory/delete/{inventoryId}(inventoryId=${itm.inventoryId})}"><span
                            class="glyphicon glyphicon-remove"></span></a>
                </td>
                <td align="center">
                    <a th:href="@{/inventory/update/{id}(id=${itm.inventoryId})}"><span
                            class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td th:text="${itm.inventoryId}"></td>
                <td th:text="${itm.model}">model</td>
                <td th:text="${itm.trade!=null}?${itm.trade.trademark}"></td>
                <td th:text="*{itm.depar!=null}?${itm.depar.departmentName}"></td>
                <td th:text="*{itm.invtyp!=null}?${itm.invtyp.inventoryType}"></td>
                <td th:text="${itm.feature}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>