<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:s="http://www.springframework.org/tags">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <p:inputText title="Primefaces panel"></p:inputText>
        <br/>
        <p:panel header="JSF 2.2">
            #{InventoryBean.inventoryList}
            <p:dataGrid>
                <p:column>

                </p:column>
            </p:dataGrid>
        </p:panel>
        <br/>
        <p:inputText title="Primefaces Form"></p:inputText>
        <br/>
        <h1>PrimeFaces TAG</h1>

        <p:repeat value="${inventoryList}" var="itm">
            ${itm.inventoryId}
        </p:repeat>
        <br/>
        <p:inputText title="Primefaces dataTable"></p:inputText>
        <br/>
        <p:dataTable var="dta" value="#{inventoryList}"
                     emptyMessage="No customers found">

            <p:column headerText="Id" sortBy="#{dta.inventoryId}">
                <h:outputText value="#{dt.inventoryId}"/>
            </p:column>

            <p:column headerText="First Name" sortBy="#{dta.model}">
                <h:outputText value="#{dta.model}"/>
            </p:column>

            <p:column headerText="Last Name" sortBy="#{dta.feature}">
                <h:outputText value="#{dta.feature}"/>
            </p:column>

        </p:dataTable>
        <br/>
        <h:form>
            <p:inputText title="Name"></p:inputText>

        </h:form>
        <hr/>
        <h1>Spring MVC Web HTML</h1>
        <h:inputText value="sdsdasf" id="asdsa" title="sadfdsf sdf" label="sad"/>


        <h1>Spring TAG</h1>

        <s:message code="app.name"/>
        <p:inputText type="email" id="email" placeholder="your@email.com" value=""/>


        <h1>Thymeleaf TAG11</h1>

        <span th:text="'Name : '+${message}"></span>
        <br/>
        <table class="table table-bordered">
            <thead>
            <tr class="btn-success">
                <th>#</th>
                <th>Model</th>
                <th>Trademark</th>
                <th>Department</th>
                <th>Type</th>
                <th>Özellikler</th>
            </tr>
            </thead>
            <tbody class="table table-bordered table-striped">
            <tr th:each="itm : ${inventoryList}">
                <td align="center">
                    <a th:href="@{/inventory/update/{id}(id=${itm.inventoryId})}"><span
                            class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td th:text="${itm.model}">model</td>
                <td th:text="${itm.trademarks.trademark}">model</td>
                <td th:text="${itm.departments.departmentName}">model</td>
                <td th:text="${itm.inventoryTypes.inventoryType}">model</td>
                <td th:text="${itm.feature}">feature</td>

            </tr>
            </tbody>
        </table>


    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>