<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.application}"></title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<!--
https://ultraq.github.io/thymeleaf-layout-dialect/Examples.html#layouts
-->

<div class="container">


    <form autocomplete="off" action="#" th:action="@{/inventory/update}" th:object="${formBean}" method="post"
          th:class="form-group" role="form">

        <div th:class="row">
            <div class="form-group col-md-4">
                <h2><span th:text="*{inventoryId}"/> Numaralı Envanter</h2>
            </div>
        </div>

        <input data-th-name="inventoryId" th:value="*{inventoryId}" th:hidden="hidden"/>

        <div th:class="row">
            <div class="form-group col-md-4">

                <select class="form-control" name="invtyp.inventoryTypeId">
                    <option selected="selected" value="" th:text="#{form.button.select}"></option>
                    <option
                            th:each="type : ${formBeanInventoryType}"
                            th:value="${type.inventoryTypeId}"
                            th:attr="inventoryType=${type.inventoryType}"
                            th:selected="(${type.inventoryTypeId} == *{invtyp.inventoryTypeId} ? *{invtyp.inventoryTypeId})"
                            th:text="(${type.inventoryType})">
                    </option>
                </select>
                <label th:if="${#fields.hasErrors('invtyp.inventoryTypeId')}" th:errors="*{invtyp}"
                       class="validation-message"></label>
            </div>

            <div class="form-group col-md-4">
                <select class="form-control" name="trade.trademarkId">
                    <option selected="selected" value="" th:text="#{form.button.select}"></option>
                    <option
                            th:each="type : ${formBeanTrademark}"
                            th:value="${type.trademarkId}"
                            th:selected="(${type.trademarkId} == *{trade.trademarkId} ? *{trade.trademarkId})"
                            th:text="${type.trademark}">
                    </option>
                </select>
                <label th:if="${#fields.hasErrors('trade.trademarkId')}" th:errors="*{trade}"
                       class="validation-message"></label>
            </div>
            <div class="form-group col-md-4">
                <select class="form-control" data-th-name="depar.departmentId">
                    <option selected="selected" value="" th:text="#{form.button.select}"></option>
                    <option
                            th:each="type : ${formBeanDepartment}"
                            th:value="${type.departmentId}"
                            th:selected="(${type.departmentId} == *{depar.departmentId} ? *{depar.departmentId})"
                            th:readonly="(${type.departmentId} == *{depar.departmentId} ? *{depar.departmentId})"
                            th:text="${type.departmentName}">
                    </option>
                </select>
                <label th:if="${#fields.hasErrors('depar.departmentId')}" th:errors="*{depar}"
                       class="validation-message"></label>
            </div>
        </div>


        <div th:class="row">
            <div class="form-group col-md-4">
                <input type="text" th:field="*{usesUser}" th:placeholder="#{inventory.field.usesUser}"
                       class="form-control"/>
                <label th:if="${#fields.hasErrors('usesUser')}" th:errors="*{usesUser}"
                       class="validation-message"></label>

            </div>
            <div class="form-group col-md-4">
                <input type="text" th:field="*{model}" autofocus="autofocus" th:placeholder="#{inventory.field.model}"
                       class="form-control"/>
                <label th:if="${#fields.hasErrors('model')}" th:errors="*{model}"
                       class="validation-message"></label>

            </div>
            <div class="form-group col-md-4">


                <input type="text" th:field="*{barcode}" th:placeholder="#{inventory.field.barcode}"
                       class="form-control"/>
                <label th:if="${#fields.hasErrors('barcode')}" th:errors="*{barcode}"
                       class="validation-message"></label>
            </div>


        </div>

        <div th:class="row">
            <div class="form-group col-md-12">
                <textarea th:rows="5" th:field="*{feature}" th:placeholder="#{inventory.field.feature}"
                          class="form-control"/>

                <label th:if="${#fields.hasErrors('feature')}" th:errors="*{feature}"
                       class="validation-message"></label>

            </div>
        </div>

        <div th:class="row">
            <div class="form-group col-md-4">


                <input type="text" th:field="*{invoiceNumber}" th:placeholder="#{inventory.field.invoiceNumber}"
                       class="form-control"/>
                <label th:if="${#fields.hasErrors('invoiceNumber')}" th:errors="*{invoiceNumber}"
                       class="validation-message"></label>

            </div>

            <div class="form-group col-md-4">


                <input type="text" th:field="*{invoiceDate}" th:placeholder="#{inventory.field.invoiceDate}"
                       class="form-control"/>
                <label th:if="${#fields.hasErrors('model')}" th:errors="*{invoiceDate}"
                       class="validation-message"></label>

            </div>
            <div class="form-group col-md-4">

                <input type="text" th:field="*{price}" th:placeholder="#{inventory.field.price}"
                       class="form-control"/>
                <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                       class="validation-message"></label>

            </div>
        </div>

        <div th:class="row">
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary btn-block"
                        th:text="#{form.button.save}"></button>
            </div>
            <div class="form-group col-md-4">
                <a href="#" th:href="@{/inventory/list}" th:text="#{form.button.cancel}">Vazgeç</a>
            </div>
            <div class="form-group col-md-4">
                <a href="#" th:href="@{/inventory/delete/{inventoryId}(inventoryId=*{inventoryId})}"
                   th:text="#{form.button.delete}"></a>
            </div>
        </div>

        <div th:class="row">
            <div class="col-sm-12">
                <div class="row" th:unless="${msg == null}">
                    <div th:classappend="${msg}? alert-danger : alert-success" class="alert" role="alert">
                        <span th:utext="${msg}"></span>
                    </div>
                </div>

            </div>
        </div>
    </form>


</div>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>