<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">


        <footer>
            <!-- this is footer -->
            &copy; 2017 SESoft
            <span sec:authorize="isAuthenticated()">
                | <span th:text="#{user.login.loggeduser}"/> : <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}" th:text="#{user.login.signout}"></a>
            </span>
            <br/>
            <span>
                     <span th:text="#{lang.change}"></span>:
                <select id="locales">
                    <option value=""></option>
                    <option value="en_US" th:text="#{lang.eng}"></option>
                    <option value="tr_TR" th:text="#{lang.tr}"></option>
                    <option value="es_ES" th:text="#{lang.es}"></option>

                </select>
                </span>


            <script type="text/javascript" th:src="@{webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
                    src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </footer>
    </div>

</div>
</body>
</html>